.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height:95%;
    margin: auto;
    padding: 10px;
    flex-direction: column;
    border: 5px solid white;
    line-height: 30px;
    width:100%;
}
.about .heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    width: 100vw;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;

    row-gap: 3px;

}
.about .heading h3{
    color: var(--primaryColor);
}
.about .heading  p {
    font-family: 'Times New Roman', Times, serif;
    color: #3b7797;

    padding: 10px 20px;
    border-radius: 5px;
}
.about .why-choose-us{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px;

    border: 1px solid rgb(255, 255, 255);
   line-height: 35px;   
   width: 100vw;
   flex-wrap: wrap;

}
.about  .why-choose-us h3{
    color: var(--primaryColor);
font-family: 'Times New Roman', Times, serif;
padding-left: 10px;
border-radius: 5px;

}
.why-choose-us p{
    color: #3b7797;

    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 3px;
   


}
.why-choose-us p strong{
    color: var(--primaryColor);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom:2px solid white;
}
.about .book-your-adv{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;

    width: 100vw;
    flex-wrap: wrap;

}
.book-your-adv h3{
    color: var(--primaryColor);
    padding: 5px 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--primaryColor);
}
.book-your-adv p{
  color: #3b7797;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 5px;


}
